.signup-wb {
	form {
    padding: 25px;
    border-radius: 25px;
		background: var(--blue-100);
	}
	
	.box-button-bw {
		text-align: right;
		margin-top: 5px;
		
		button {
			background: var(--white-100);
			transition: background-color 0.5s ease;
			
			&:hover {
				background: var(--white-200);
			}
		}

	}

	.formBirthdayUser svg {
		margin-left: 8px!important;
	}

	.form-check a {
		color: var(--black-900);
		font-size: inherit;
		text-decoration: underline!important;
		cursor: pointer;
	}
}