.wb-modal-signup {
	.modal-title {
		font-size: 1.563rem;
    color: var(--blue-600);
	}
	.modal-content {
		border-radius: 25px;
		border: 5px solid var(--gray-100);
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--white-100);
		max-width: 600px;	
    border-radius: 25px;
		color: var(--gray-600);

		button.btn-secondary {
			background-color: var(--orange-600);
			color: #fff;
			transition: background-color 0.5s ease;
			border: 0;
			&:hover {
				background: var(--orange-600-hover);
			}
		}
	}
}

