.wbox-product-card {
	border: none!important;
	border-radius: 25px!important;

	a, p, .card-title {
		color: var(--gray-600);
	}

	img {
		border-radius: 10%;
		border: 5px solid var(--gray-100)!important;
	}

	&__title {
		display: flex;
		justify-content: space-between;
	}

	&__main {
		// border: 1px solid gray;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
	}

	&__tags {
		button {
			background-color: var(--orange-500);
			color: #fff;
			transition: background-color 0.3s, color 0.3s;
			border: 0;
			padding: 2px 5px;
			font-size: 0.875rem;

			&:hover {
				background-color: var(--orange-500-hover);
				color: #fff;
			}

		}
	}

	&__reactions {
		display: flex;
		align-items: center;

		> div[class^="box-"]:not(:last-child) {
			margin-right: 0.625rem;
		}
	}
}