.wbox-content-container {
	border: 1px solid green;
	// background: var(--white-100);
	// flex: 1;

	&__section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 5px solid var(--gray-100);
		min-height: 300px;
		background-color: #fff;
		border-radius: 25px;
		margin-bottom: 50px;
		padding: 25px 0;
	}

	&__button--more {
		margin-top: 20px; 
		cursor: pointer;
		font-size: 30px;
	}

	&__button--animation {
		animation: jump 0.9s infinite;
	}

}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


