.wbox-content-container {
	background: var(--white-100);

	&__section {
		border-radius: 25px!important;
		border: 5px solid var(--gray-100)!important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		max-width: 900px;
	}

	&__product {
		&:last-child hr {
			display: none;
		}
	}

	&__divider {
		border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}

	&__button--more {
		margin-top: 20px; 
		cursor: pointer;
		font-size: 30px;
	}

	&__button--animation {
		animation: jump 0.9s infinite;
		color: var(--bs-secondary-color);
	}

}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


