.wbox-content-container {
	border: 1px solid green;
	// background: var(--white-100);
	// flex: 1;

	&__section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
	}

	&__button--more {
		margin-top: 20px; 
		cursor: pointer;
		font-size: 30px;
	}

	&__button--animation {
		animation: jump 0.9s infinite;
	}

}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


