.container-wb {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--white-100);
}

.title-wb {
	font-size: 2rem;
	color: var(--blue-600);
	font-weight: bolder;
	span {
		font-size: 1rem;
		color: var(--blue-400);
		font-weight: 100;
	}
}

header {
	height: 450px;
	width: 100%;
	background: var(--blue-100);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		text-align: left;
		margin-bottom: 50px;
		span {
			vertical-align: middle;
		}
	}

}

main {
	background: var(--white-100);
	flex: 1;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 5px solid var(--gray-100);
	width: 900px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 25px;
	margin-bottom: 50px;
	padding: 25px 0;
}

.button-show-more-wb {
	margin-top: 20px; 
	cursor: pointer;
}

footer {
	margin-top: auto;
}