.wbox-main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--white-100);
	padding: 0;
}

main {
	background: var(--white-100);
	flex: 1;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 5px solid var(--gray-100);
  min-height: 300px;
  background-color: #fff;
  border-radius: 25px;
	margin-bottom: 50px;
	padding: 25px 0;
}

.button-show-more-wb svg {
	margin-top: 20px; 
	cursor: pointer;
	font-size: 40px;
}

footer {
	margin-top: auto;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.jumping-icon {
  animation: jump 0.9s infinite;
}