.wbox-header-container {
	width: 100%;
	background: rgb(213,232,235);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__section {
		border-radius: 25px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
	}
	
}
