.search-wishorama {
  height: 50px;
  border: 2px solid var(--gray-300)!important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  box-shadow: 5px 10px var(--gray-100)!important;
  &:focus {
    border: 2px solid var(--orange-300)!important;
    box-shadow: 5px 10px var(--orange-100)!important;
  }
}