//-Default system settings
:root {
  --white: #F6F6F8;
  --blue-100: #D5E8EB;
  --blue-300: #aae3ec;
  --black: #0D171B;
  --orange-100: #fe9486!important;
  --orange-300: #FF3F25!important;
  --gray-100: #EBEBEB!important;
  --gray-300: #B5BCC1!important;
}

//-Bootstrap override settings
$primary: #D5E8EB;
$secondary: #0D171B;
$success: #52CA68;
$font-family-base: 'Dosis', sans-serif;