//-Default system settings
:root {
  --white-100: #F6F6F8;
	--white-200: #d9d9e7;
  --blue-100: #D5E8EB;
  --blue-300: #aae3ec;
	--blue-400: #9bc3c9;
	--blue-600: #7fa2a8;
  --black: #0D171B;
  --orange-100: #fe9486!important;
  --orange-300: #FF3F25!important;
	--orange-500: rgba(220, 53, 69, 1)!important;
	--orange-500-hover: rgba(220, 53, 69, 0.8)!important;
  --gray-100: #EBEBEB!important;
	--gray-200: #E5E5E5!important;
  --gray-300: #B5BCC1!important;
	--gray-600: rgba(33, 37, 41, 0.75)!important;
}

//-Bootstrap override settings
$primary: #D5E8EB;
$secondary: #0D171B;
$success: #52CA68;
$font-family-base: 'Poppins', sans-serif;