:root {
  --white: #F6F6F8;
  --blue: #D5E8EB;
  --black: #0D171B;
  --orange: #FF3F25;
  --gray-100: #EBEBEB;
  --gray-300: #B5BCC1;
}

$primary: #D5E8EB;
$secondary: #0D171B;
$success: #52CA68;
$font-family-base: 'Poppins', sans-serif;