.btn-wishorama-message {
	color: var(--white-100)!important;
	background-color: var(--black-900)!important;
	transition: background-color 0.3s, color 0.3s;
	padding: 2px 15px!important;
	font-size: 0.875rem!important;
	&:hover {
		color: var(--white-100);
		background-color: var(--black-100)!important;
	}
}